_book/
/.quarto/
libs/
**/*.bib
**/*.html
# ignore all html files except:
!**/mathjax_header.html
# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
Book Proposal: Data Science Platforms.gdoc
