*/.obsidian/*
.obsidian
_book/
/.quarto/
libs/
**/*.html
# ignore all html files except:
!**/mathjax_header.html
# R/Py and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
Book Proposal: Data Science Platforms.gdoc
*.icloud
.DS_Store
*.ipynb
lek_versions/*
*docx*
