_book/
_bookdown_files/
libs/
**/*.bib
**/*.html
# ignore all html files except:
!**/mathjax_header.html
# R and Rstudio specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
bookdown.log
bookdown.pdf
bookdown.tex
.Rprofile
